.description-container {
    display:flex;
    flex-direction: column;
    height:100%;
    padding:2%;
    padding-left: 8%;
    padding-right:8%;
    justify-content:center;
}

.description-header {
    font-weight: bold;
    color: #F8B24A;
    font-size: 2.5rem;
}

.description-content {
    color: rgba(0, 0, 0, 0.58);
    font-size: 1.25rem;
}