.experience-container {
    display:flex;
    flex-direction: column;
    height:100%;
    padding:2%;
    padding-left: 8%;
    padding-right:8%;
    justify-content:center;
}

.experience-header {
    font-weight: bold;
    color: #F8B24A;
    font-size: 2.5rem;
}

.experience-content {
    color: rgba(0, 0, 0, 0.58);
    font-size: 1.25rem;
}

.experience-card {
    background-color:#FFF;
    border: 2px solid #000000;
    border-radius: 20px; 
    padding:1%;
    max-width: 80%;
    margin-top:4%;
}

.experience-card-description {
    color: rgba(0, 0, 0, 0.58);
    font-size: 0.9rem;
}
