html, body {
  height: 100%;
  margin: 0;
  font-size: 100%;
}
@media only screen and (max-device-width: 1080px) {
	html { font-size: 75%; }
}
@media only screen and (max-device-width: 720px) {
	html { font-size: 60%; }
}
@media only screen and (max-device-width: 600px) {
	html { font-size: 80%; }
}